
.depart {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.destination {
    display: flex;
    flex-direction: column;
}

<<<<<<< Updated upstream
.trajet{
    align-items: center;
=======
main{
    padding:3%;
}

h1{
    text-align: center;
}

.trajet{
    align-items: center;

}


/************************
    ANNONCES - CARD
***********************/

.card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: black;
    box-shadow: 0 5px 10px #00000080;
    margin-top: 3%;
}

.trajet {
    display: flex;
    margin-top: 25px;
    padding-left: 3%;
    justify-content: space-around;
}

#profil {
    margin-top: 20px;
    width: 25%;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.content{
    display: flex;
    flex-direction: column;

}

#nbrplace {
    width: 10%;
}

#nbrplace+p {
    margin-top: 5px;
}

#button {
    
    background-color: #38729B;
    /* Green */
    border: none;
    color: white;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 40% 40%;
}

#trajet {
    width: 40%;
    height: 50%;
    margin-right: 3px;
    margin-top: 5px;
  
}

.nbrPers{
    display: flex;
    
>>>>>>> Stashed changes
}