body {
    background-color: white;
    font-family: arial;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    padding: 0 20px;
    box-shadow: 0 10px 10px #00000020;
}

header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 30px;
}



#blue_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        180deg,
        rgba(35, 185, 233, 0.58) 0%,
        rgba(86, 204, 242, 0.28) 100%
    );
    height: 30%;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}