/*************************
        IMPORT
*************************/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Lilita+One&display=swap');

/*************************
        RESET CSS
*************************/

* {
    margin: 0;
    padding: 0;
}


/*************************
        HEADER
*************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    padding: 0 20px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 30px;
}


/*************************
        MENU
*************************/

main {
    background: linear-gradient( 180deg, rgba(35, 185, 233, 0.58) 0%, rgba(86, 204, 242, 0.28) 100%);
    margin-top: -10px;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: #266999;
}

.navbar .menu-items a {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #00aff5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 33%;
}

h1 {
    text-align: center;
    color: #266999;
    color: #0d5386;
    margin: 0px;
    padding-top: 6%;
    margin-bottom: 6%;
}


/*************************
        FOOTER
*************************/

footer {
    background-color: #266999;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 4%;
}

.lien {
    margin-right: 11%;
}

.footer-images {
    display: flex;
    margin-bottom: 4%;
    margin-left: 2%;
    justify-content: center;
    margin-right: 13% !important;
}


/* .footer-images img {
    height: 60px;
} */

#ern {
    height: 45px;
    padding-top: 13px;
}

#polenum {
    height: 60px;
}

footer p {
    text-align: center;
    margin-bottom: 3%;
    padding-top: 3%;
    color: #fe7b04;
    color: #fff;
    font-weight: bold;
    margin-right: 10%;
}

footer a {
    text-align: center;
    margin-bottom: 4%;
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
}

input[type="submit"] {
    margin-left: 0%;
}