#blue_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient( 180deg, rgba(35, 185, 233, 0.58) 0%, rgba(86, 204, 242, 0.28) 100%);
    /*height: 30%;*/
    margin-bottom: 0;
    margin: 0;
    min-height: calc(100vh - 253px);
    margin-top: -10px;
}

#blue_background a {
    color: #0d5386;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: clip;
    width: 60%;
    padding: 10px 20px 0;
    gap: 20px;
    box-shadow: 0 5px 10px #00000080;
    border-radius: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

form h2 {
    margin: auto;
}

input {
    padding-left: 5px;
}

#nameSignIn,
#firstnameSignIn,
#emailSignIn,
#passwordSignIn,
#emailConex,
#passwordConex {
    border: none;
    border-bottom: solid #00000080 1px;
    border-radius: 0%;
}

#signIn {
    width: fit-content;
    margin: auto;
    padding: 5px 25px;
    background-color: rgb(13, 83, 134);
    border-radius: 25px;
    border-style: none;
    color: white;
    font-size: 20px;
}

#signIn2 {
    width: fit-content;
    margin-left: 19.5%;
    padding: 5px 35px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 25px;
    border-style: none;
    color: white;
    font-size: 20px;
}

#connectForm button {
    margin: auto;
    border-style: none;
    background-color: #ffffff;
    color: #1876f2;
    width: fit-content;
    padding-left: 0;
}

#connectForm h2 {
    margin: auto;
    width: fit-content;
    padding-bottom: 20px;
}

.checkbox1 {
    display: flex;
}

.checkbox1 p {
    padding-left: 15px;
}

#signInForm {
    margin-left: 11%;
}