* {
    padding: 0;
    margin: 0;
    }
/* Pour le Header   */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    padding: 0 20px;
}

header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 30px;
}

#logo {
    height: 50px;
}

/*cercle bleu*/
#img_background {
margin-left: -43px;
}

/*partie titre annonces*/
.titletoky {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;

}

.titletoky h1 {
  text-decoration: underline;
  }

.titletoky p {
  font-size: 12vw;

}
 
  
  
  
  
