/*************************
        IMPORT
*************************/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Lilita+One&display=swap');

/* vietnamese */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkD9DJX-I.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkDtDJX-I.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librefranklin/v14/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkANDJ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* latin-ext */
@font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lilitaone/v15/i7dPIFZ9Zz-WBtRtedDbYE98RWq7.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lilitaone/v15/i7dPIFZ9Zz-WBtRtedDbYEF8RQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*************************
        RESET CSS
*************************/

* {
    margin: 0;
    padding: 0;
}

/*************************
        GENERAL
*************************/
h1 {
    font-family: "Lilita One", Helvetica, Arial,  sans-serif;
}


/*************************
        HEADER
*************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 100px;
    padding: 0 20px;
}

header>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 30px;
}

#logo {
    height: 30px;
    margin-left: 10px;
    margin-right: 30px;
    /* z-index: 6; */
}

nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 6;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    transform: translateY(30px);
    position: absolute;
    width: 100px;
    z-index: 1000;
    right: -25px;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: RGBa(200, 200, 200, 0.1);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}


/*************************
        MENU
*************************/

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
    z-index: 7;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: #266999;
}

.navbar .menu-items a {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0) translateY(-50px);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}


/********************
    PROFIL
********************/

main {
    height: auto;
    z-index: 0;
    padding-bottom: 30px;
    min-height: calc(100vh - 253px);
}

.iconmain {
    display: flex;
    justify-content: space-between;
}

#mail {
    padding-left: 15px;
    padding-top: 15px;
}

#pen {
    padding-right: 15px;
    padding-top: 15px;
}

.gerard {
    text-align: center;
}

.gerard img {
    border: solid 2px white;
    border-radius: 100%;
    margin-top: 10px;
}

#border {
    border-bottom: 2px solid black;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.infoconduc {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.infoconduc p {
    padding-top: 12px;
}

.infoconduc p {
    padding-left: 10px;
}

section {
    margin-left: 15%;
    background-color: white;
    width: 70%;
    position: relative;
    z-index: 1;
    bottom: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 2px rgb(19, 18, 18);
}

.paragraphe p {
    margin: 15px;
    font-weight: bold;
}

.paragraphe img {
    width: 15px;
}

.blue {
    color: #38729B;
    font-weight: bold;
}

#email {
    font-size: 20px;
}


/************************
  ANNONCES - FORM SEARCH
************************/

h1 {
    text-align: center;
    margin: 20px 0;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin: 3%;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: clip;
    width: 60%;
    padding: 10px 20px 0;
    gap: 20px;
    box-shadow: 0 5px 10px #00000080;
    border-radius: 25px;
}

form>div {
    display: flex;
    gap: 10%;
}

form img {
    /*width: 15px;*/
    height: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

#nbr_pers_button {
    cursor: pointer;
    display: flex;
}

input[type="text"] {
    border: none;
    border-bottom: solid #00000080 1px;
}

input[type="date"] {
    border: none;
    border-right: solid #00000080 1px;
    width: min-content;
}

input[type="submit"] {
    background-color: #0d5386;
    color: white;
    height: 40px;
    font-size: 20px;
    margin: -5px -20px;
    border: none;
}

input[type="submit"]:active {
    background-color: #0D2C42;
}

#searchButton{
    border-radius: 20px;
}


/************************
    ANNONCES - CARD
***********************/

#cards_zone {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 20px;
}

#cards_zone a {
    color: #fff;
    text-decoration: none;
}

.card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    width: auto;
    background-color: #ffffff;
    position: relative;
    z-index: 0;
    overflow: hidden;
    color: black;
    box-shadow: 0 5px 10px #00000080;
    margin-top: 3%;
    margin-bottom: 5%;
}

.trajet {
    display: flex;
    margin-top: 25px;
}

#profil {
    margin-top: 20px;
    width: 25%;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.trajet1 {
    display: flex;
    justify-content: space-evenly;
}

#nbrplace {
    width: 10%;
}

#nbrplace+p {
    margin-top: 5px;
}

#button {
    margin-left: 10%;
    background-color: #38729B;
    /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

#trajet {
    width: 40%;
    height: 50%;
    margin-right: 3px;
    margin-top: 5px;
}

.card_index {
    border-radius: 10px;
    width: auto;
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px #00000080;
    margin-bottom: 10%;
}

.travel_info {
    display: flex;
    margin: 10px 5px 0;
}

.profil {
    width: 25%;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
}

.hours {
    display: flex;
    justify-content: space-evenly;
}

.human_icon {
    width: 30px;
    height: 30px;
}

.human_icon+p {
    margin-top: 5px;
}

.card_index button {
    margin: 0px;
    margin-left: 36%;
    margin-top: 5%;
    background-color: #38729B;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.card_index button:active {
    background-color: #0D2C42;
}

.destination {
    width: 40%;
    height: 50%;
    margin-right: 3px;
    margin-top: 5px;
}


section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 10px 5px;
    padding: 20px 10px;
    gap: 10px;
}

.sear {
    border-radius: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
    color: var(--dark_text);
    box-shadow: 5px 10px 10px #00000080;
    border-radius: 30px;
}

.sbox {
    display: flex;
    padding: 10px;
    gap: 10px;
    line-height: 1em;
}

.sbox > div > p{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.img {
    width: 35%;
    height: 100%;
    border: solid black 2px;
    border-radius: var(--radius);
}

.sbox > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sbox > div > div:last-child {
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: center
}
.one{
    color: #266999;
    margin-left: 10px;
}

.sbox > div > div > button{
    padding: 10px 45px 10px 45px;
    border-radius: 30px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    /*background-color:#266999;*/
    background-color:#0d5386;
    color: #ffffff;
    border:0px;
}

/* Formulaire popup */

.hideform {
    display: none;
    margin: auto;
    margin-top: 30px;
    padding: 25px;
    width: 80vw;
}

.hideform div {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

#name,
#firstname,
#emailUpdate {
    border: none;
    border-bottom: solid #00000080 1px;
    width: 50vw;
}

.hideform h2 {
    padding-left: 5.3vw;
}

#modifButton {
    width: 30vw;
    margin: auto;
    padding: 5px 20px;
    background-color: rgb(13, 83, 134);
    border-radius: 25px;
    border-style: none;
    color: white;
    font-size: 20px;
}

#cancelButton {
    width: 30vw;
    margin: auto;
    padding: 5px 20px;
    background-color: rgb(207, 55, 93);
    border-radius: 25px;
    border-style: none;
    color: white;
    font-size: 20px;
}

.confcancel {
    display: flex;
    margin: auto;
}